.carouselContainer {
  display: grid;
  justify-content: center;
}

.card {
  width: 22rem;
}

.recommendation {
  padding-top: 4rem;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.recommendationContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.iconContent {
  display: grid;
  justify-items: center;
}

.icon {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: rgba(64, 64, 248, 0.678);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.recommendation p {
  font-size: 0.7rem;
  text-align: center;
}

@media (max-width: 768px) {
  .recommendationContent {
    grid-template-columns: 1fr;
  }

  .card {
    width: 15rem;
  }
}

@media (min-width: 368px) {
  .card {
    width: 12rem;
  }
}
