html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  background-color: rgb(130 130 130 / 22%);
  padding: 3rem 4rem;
}

.button {
  width: 40px;
}

/* ----------- Content ------------- */
@import url("./content.css");

/* ----------- Carousel ------------- */
@import url("./carousel.css");

/* ----------- Footer ------------- */
@import url("./footer.css");
